Django>=5.0,<5.3  # O la serie de Django 5.x que estés usando
gunicorn>=20.0.0
whitenoise>=6.0.0
psycopg2-binary>=2.9.0 # Para PostgreSQL. Si usas psycopg v3, sería psycopg-binary
dj-database-url>=0.5.0 # Para facilitar la configuración de la DB desde variables de entorno
python-decouple>=3.0.0 # Opcional, pero muy útil para gestionar settings y secretos desde .env/entorno
# Pillow>=9.0.0        # Descomenta y ajusta la versión si usas ImageField en tus modelos Django